<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todo List</title>
    </head>
    <body>
        <div class="centering-content" id="to-do-content">
            <h1 class=".align-middle" id="index-header">To do</h1>
    
            <!-- Source: https://getbootstrap.com/docs/4.0/components/collapse/ -->
            <!-- I used the Bootstrap documentation for an accordion example, and tailored it to the log in and sign up forms.-->
            <div class="shadow-lg mb-5 bg-white rounded align-middle text-center" id="login-signup-box">
                <div class="accordion" id="login-accordion">
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                                <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                            </svg>
                            Logged in as <%= username %>
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#login-accordion">
                        <div class="accordion-body">
                            <!-- Redirect to sign in page -->
                            <form action="/logout" method="get">
                                <input class="btn btn-primary" type="submit" value="Logout">
                            </form>
                        </div>
                    </div>
                    </div>
                </div>
            </div>

        <!-- To do list -->
        <div id="to-do-list">

            <%for (var task of tasks){ %>
                <% if (task === null) {break;} %>
                <div class="input-group mb-3">
                    <% if (task.isTaskClaimed && (uid == task.claimingUser)) { %>
                        <% if (task.isTaskDone) { %>
                            <form action="/uncomplete" method="post" class="input-group-text">
                                <input name="id" value="<%=task.id%>" hidden>
                                <input class="form-check-input mt-0 complete-checkbox" type="checkbox" onChange="this.form.submit()" checked>
                            </form>
                        <% } else { %>
                            <form action="/complete" method="post" class="input-group-text">
                                <input name="id" value="<%=task.id%>" hidden>
                                <input class="form-check-input mt-0 complete-checkbox" type="checkbox" onChange="this.form.submit()" unchecked>
                            </form>
                        <% } %>
                    <% } %>
                    <% if (task.isTaskDone) { %>
                        <input class="form-control text-decoration-line-through" value="<%=task.text%>" disabled>
                    <% } else { %>
                        <input class="form-control" value="<%=task.text%>" disabled>
                    <% } %>
                    <% if (task.isTaskDone === false) { %>
                        <% if (task.isTaskClaimed === false) { %>
                            <form action="/claim" method="post">
                                <input name="id" value="<%=task.id%>" hidden>
                                <button class="btn btn-outline-secondary" type="submit">Claim</button>
                            </form>
                        <% } else if (task.claimingUser == uid){ %>
                            <form action="/abandon" method="post">
                                <input name="id" value="<%=task.id%>" hidden>
                                <button class="btn btn-outline-secondary" type="submit">Abandon</button>
                            </form>
                        <% } %>
                    <% } %>
                </div>
            <% } %>
            <!--
            
            //Claimed by someone else

            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="This is a task claimed by someone else" disabled>
            </div>

            //Claimed AND completed by someone else

            <div class="input-group mb-3">
                <input type="text" class="form-control text-decoration-line-through" placeholder="This is a task claimed and completed by someone else" disabled>
            </div>

            //Claimed by self

            <div class="input-group mb-3">
                <div class="input-group-text">
                    <input class="form-check-input mt-0" type="checkbox" value="">
                </div>
                <input type="text" class="form-control" placeholder="This is a task claimed by me" disabled>
                <button class="btn btn-outline-secondary" type="button">Abandon</button>
            </div>

            //Claimed AND completed by self

            <div class="input-group mb-3">
                <div class="input-group-text">
                    <input class="form-check-input mt-0" type="checkbox" value="" checked>
                </div>
                <input type="text" class="form-control" placeholder="This is a task claimed and completed by me" disabled>
            </div>

            //Unclaimed task

            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="This is an unclaimed task" disabled>
                <button class="btn btn-outline-secondary" type="button">Claim</button>
            </div>

            -->

            
            <form action="/addtask" method="post" class="input-group mb-3">
                <input type="text" name="taskInfo" class="form-control" placeholder="Enter a new task here">
                <input name="email" value="<%=username%>" hidden>
                <button class="btn btn-outline-secondary" type="submit">Add</button>
            </form>
            
            <!-- Remove complete entries -->
            <form action="/purge" method="post" class="d-flex justify-content-center">
                <input name="email" value="<%=username%>" hidden>
                <input class="btn btn-outline-secondary" type="submit" value="Remove Complete" id="remove-complete">
            </form>

            
        </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>